body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: rgb(233, 233, 233);
    justify-content: center;
}

* {
    margin: 0;
    box-sizing: border-box;
}

#section {
    width: 700px;
    height: 400px;
    background-color: white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
}

button {
    height: 40px;
}