body {
    padding: 0px 15%;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
}

#playground {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
    justify-content: center;
    background-color: transparent;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
    width: 150px;
    aspect-ratio: 1 / 1;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
  img {
    height: auto;
  }
  
  .hidden {
    display: none;
  }